body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

footer {
    font-family: 'Poppins', sans-serif;
}

.flexble-container {
    display: flex;
    margin-bottom: 100px;
    padding: 50px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    /* margin-left: 0%; */
}

h1 {
    font-weight: 4em;
}

.orange-color {
    color: orange;
}

.half-width {

    width: 50%;
    padding-left: 2%;
    padding-right: 50px;

}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-big-2 {
    padding-right: 80px;
}


.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 10PX;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

#full-stack-developer {
    border-left: 7px solid orange;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}